{{> compareChart id="gameChart" }}
<div id="info">
    <h1>Available</h1>
    <ul id="available">
    </ul>
    <h1>Maybe</h1>
    <ul id="maybe">
    </ul>
    <h1>Unavailable</h1>
    <ul id="unavailable">

    </ul>
</div>
<script type="module">
    import {GamePerDayChart} from "/js/gamePerDayChart.js"
    const chart = new GamePerDayChart({{columns.length}}, document.getElementById("gameChart"), JSON.parse('{{{toJSON votes}}}'), document.getElementById("info"))
</script>