<div class="cell yes" data-columnIndex="{{maths @index "+" 1}}" data-rowIndex="{{maths @../index "+" 1}}">
    {{#with (lookup (lookup parent.votes @../index) @index)}}
        <span>{{this.length}}</span>
    {{/with}}
</div>